<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
	<add key="Config.MSSQLConnection" value="Server=SRVPEDC002;Database=SBO_PROD_WINNERS;User ID=sa;password=Peru8400" />
    <add key="Config.PDFPath" value="C:\PLUS\Close2u\PDF" />
	<add key="Config.XMLPath" value="C:\PLUS\Close2u\XML" />
    <add key="Config.ActivePDFPath" value="true" />
    <add key="Config.ActiveLogForSuccessful" value="false" />
    <add key="Config.ActiveOnlyForJson" value="false" />
    <add key="Config.ApiProdUrl" value="https://invoice2u.pe/apiemisor/invoice2u/integracion/" />
    <add key="Config.ApiProdToken" value="Ae1OI+d5IxxQbAeux1TEqU+09MhjSv0sRlUmqxjS4cF7w8l1IWmjRUVXtmyBPsl1" />
    <add key="Config.ApiTestUrl" value="https://invoice2u.pe/apiemisor/invoice2u/integracion/" />
    <add key="Config.ApiTestToken" value="" />
    <add key="Config.ActiveApiProd" value="true" />
    <!--Si Config.ActivePDFPath es True los archivos se guardarán en la ruta especificada, caso contrario se guardará en la carpeta donde se encuentra el ejecutable.-->
    <!--Si Config.ActiveLogForSuccessful es True se generarán log para los comprobantes enviados correctamente y no solo para los errores.-->
    <!--Si Config.ActiveOnlyForJson es True el integrador solo generará archivos JSON de los comprobante y no los enviará al proveedor de facturación electrónica.-->
    <!--Config.ApiProdUrl contiene la URL del API de producción.-->
    <!--Config.ApiProdToken contiene el Token de producción.-->
    <!--Config.ApiTestUrl contiene la URL del API de pruebas.-->
    <!--Config.ApiTestToken contiene el Token de pruebas.-->
    <!--Si Config.ActiveApiProd es True los comprobantes se enviarán al ambiente de producción, caso contrario será al ambiente de pruebas.-->
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>